<div class="container">
  <div class="row">
    <div class="col-12">
      .
    </div>
  </div>

  <section class="c-menu">
    <div class="row">
      <div class="col-12 d-flex">
          <div class="c-menu__options">
            <a href="">Paldex</a>
            <a href="">About us</a>
          </div>
          <div class="c-menu__search-bar">
            <input type="Search" name="search-paldex" id="search-paldex" />
            <button type="submit"></button>
          </div>
      </div>
    </div>
  </section>

  <section class="c-aviso">
    <div class="row">
      <div class="col-12">
        Search a Pal by name or using its number in the Palpedia.
      </div>
    </div>
  </section>

  <section class="c-lista-pals">
    <div class="row">
      <div class="col-3">
        <div class="c-lista-pals__pal">
          <img class="c-lista-pals__pal__img" src="" alt="" style="background-color: black; height: 213px; width: 213px;" />
          <div class="c-lista-pals__pal__numero">
            #100
          </div>
          <div class="c-lista-pals__pal__nome">
            Anubis
          </div>
          <div class="c-lista-pals__pal__tipo">
            <span class="c-lista-pals__pal__tipo__ground">Ground</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>